{% extends 'base1.html.twig' %}
{% block body %}
    <h1>Administration des genres de vos vidéos</h1>
    <h2><a href="{{path('adminGenre.new')}}"  class="btn btn-info" role="button">Ajouter une nouvelle genre</a></h2>
    {% if genres|length <= 0 %}
        <h2>La page d'administration des genres de vos vidéos est vide</h2>
    {% endif %}
    <table>
        <thead>
            <tr>
                <td>Numero</td>
                <td>Nom</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            {% for genre in genres %}
                <tr>
                    <td>{{genre.id}}</td>
                    <td>{{genre.name}}</td>
                    <td><a href="{{path('adminGenre.update', {id: genre.id})}}"  class="btn btn-warning" role="button">Modifier</a></td>
                    <td><a href="{{path('adminGenre.delete', {id: genre.id})}}"  class="btn btn-danger" role="button">Supprimer</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}